body{
    background-color:rgb(209, 209, 213)80, 80, 110;
}
.externos{
    background-color: rgb(202, 220, 235);
}
.internos{
    background-color: rgb(222, 248, 239);
}
.links{
    background-color: rgb(239, 236, 177);
}