@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(167, 163, 163);
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: rgb(97, 92, 92);
    color: rgb(97, 180, 248);
    padding: 20px;

    display: flex;
    flex-flow: row wrap; /*os itens quebram dentro da caixa*/
    justify-content: space-between; /* nesse caso...faz o espaçamento horizontal*/
    align-items: center; /*nesse caso...faz o espaçamento vertical*/
}
 header > h1{
    /*border: 1px dotted black;*/
    flex: 0 0 200px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
}
header > nav{
  
  /*border: 1px dotted black;*/ 
  display: flex; 
  flex-flow: row wrap;
  justify-content: flex-end;
}
header > nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover{
    background-color: rgb(27, 25, 25);
}
main{
    background-color: white;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    text-indent: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}
h2{
    background-color: rgb(97, 180, 248);
    padding: 10px;
    text-align: center;
    border-radius:  5px;
    margin-bottom: 10px;
}